@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Open+Sans:wght@300&display=swap');

.font-header{
    font-family: 'Nova Square', sans-serif;
}

.font-content{
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100vw;
    overflow-x: hidden;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.title {
    color: white;
    font-size: larger;
    font-weight: bold;
}

.logo img {
    max-width: 25px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #b0b0b1;
}

.footer {
    background-color: black;
    border-top: 1px solid white;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.company-info,
.contact-info {
    max-width: 300px;
    text-align: left;
}

.company-info h3,
.contact-info h3 {
    color: #fff;
    font-size: 1.2em;
}
.company-info img{
    max-width: 25px;
    margin-right: 10px;
}
.company-info h3{
    display: flex;
    align-items: center;
}
